{% extends 'base.html' %}
{% block body %}

<section class="section bg-black" id="about">
  <div class="container" style="position: relative; top: 36px">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="text-center mb-5">
          <h2 class="highlight header-colorize text-uppercase mb-3">About PD</h2>
          <p class="text-sub size-14">
          </p>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5">
        <img src="images/header-about.png" alt="" class="img-fluid mx-auto d-block">
      </div>
      <div class="col-lg-10 offset-lg-1">
        <div class="text-sub mt-5 mt-lg-0">
          <h3 class="title font-weight-medium mb-4">What is Parkinson's Disease?
          </h3>
          <p class="mb-4 size-16">Parkinson's Disease is a neurodegenerative disorder that causes unintended or
            uncontrollable movements, such as shaking, stiffness, and difficulty with balance and coordination.
          </p>

          <br>
          <h3 class="title font-weight-medium mb-4">Statistics
          </h3>
          <p class="mb-4 size-16">
            <b>></b> Nearly one million people in the U.S. are living with Parkinson's disease (PD), which is more
            than the combined number of people diagnosed with multiple sclerosis, muscular dystrophy and Lou
            Gehrig's disease (or Amyotrophic Lateral Sclerosis). This is expected to rise to 1.2 million by 2030.
            <br><br><b>></b> Approximately 60,000 Americans are diagnosed with PD each year.<br> <br>
            <b>></b> More than 10 million people worldwide are living with PD.<br> <br>
            <b>></b> Incidence of Parkinson’s disease increases with age, but an estimated four percent of people
            with PD are diagnosed before age 50.<br> <br>
            <b>></b> Men are 1.5 times more likely to have Parkinson's disease than women.<br>
          </p>
        </div>
      </div>
    </div>
    <img src="/parkinsonsdisease.jpg" style="width: 800px; position: relative; left: 99px;"></img>
  </div>
</section>


{% endblock body %}

