{% extends 'base.html' %}

{% block body %}

<section class="section bg-black" id="about">
  <div class="container" style="position: relative; top: 36px">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="text-center mb-5">
          <h2 class="highlight header-colorize text-uppercase mb-3">AIPS Testing</h2>
          <p class="text-sub size-14">
          </p>
        </div>
      </div>
      <body>
        <div id="content">
          <style>
            .button {
              display: inline-block;
              vertical-align: middle;
              margin: 0px 5px;
              padding: 5px 12px;
              cursor: pointer;
              outline: none;
              font-size: 13px;
              text-decoration: none !important;
              text-align: center;
              color: #fff;
              background-color: #4D90FE;
              background-image: linear-gradient(top, #4D90FE, #4787ED);
              background-image: -ms-linear-gradient(top, #4D90FE, #4787ED);
              background-image: -o-linear-gradient(top, #4D90FE, #4787ED);
              background-image: linear-gradient(top, #4D90FE, #4787ED);
              border: 1px solid #4787ED;
              box-shadow: 0 1px 3px #BFBFBF;
            }

            a.button {
              color: #fff;
            }

            .button:hover {
              box-shadow: inset 0px 1px 1px #8C8C8C;
            }

            .button.disabled {
              box-shadow: none;
              opacity: 0.7;
            }
          </style>
        </div>

    </div>
    <div class="row align-items-center">
      <!-- <div class="col-lg-5">
            <img src="images/header-about.png" alt="" class="img-fluid mx-auto d-block">
          </div> -->
      <div class="col-lg-10 offset-lg-1">
        <div class="text-sub mt-5 mt-lg-0">
          <h3 class="title font-weight-medium mb-4">AIPS what?
          </h3>
          <p class="mb-4 size-16">Currently there is no specific test to diagnose Parkinson's disease. Doctors
            usually diagnose the disease by taking a person’s medical history and performing a neurological
            examination. Making an accurate diagnosis of Parkinson’s disease can be complicated. Doctors must
            carefully weigh symptoms, family history and other factors to come to a conclusion.
            Since the symptoms of this disease are quite similar to some other diseases (such as asymmetric
            bradykinesia, and resting tremor, besides others) it can often be misdiagnosed. Misdiagnosis is even
            higher when only the initial diagnosis is considered, and diagnostic accuracy improves by time, during
            follow-up visits.
            Using Artificial Intelligence (AI), our product AIParkinScan, or AIPS, aims to provide easy and accurate
            tests that could tell users if they potentially have Parkinson’s disease. Since AIPS is available online
            for everyone, it helps anyone to self-screen in the comfort and privacy of their homes, while also
            saving on expensive trips to the doctor.

          </p>

          <br>
          <h3 class="title font-weight-medium mb-4">Take the Test
          </h3>
          <p class="mb-4 size-18">
            Make sure you have a pen/pencil and piece of paper.
          </p>
          <p class="title font-weight-medium mb-4">
            Task 1:
          </p>
          <p class="mb-4 size-18">
            See the below spiral. Take the piece of paper, and draw the spiral in this image. Upload a picture of
            your spiral and press the submit button.
          </p>
          <br>
          <img src="{{url_for('static', filename='/images/healthspiral.png')}}"
            style="position:relative;left: 210px;width:50%"></img><br><br><br>
          <form action="/spiral" style="position: relative; left: 190px" id="spiral-form" method="POST"
            enctype="multipart/form-data">
            <input type="file" name="file">
            <button class="btn btn-secondary" type="submit">Submit</button>

          </form><br>

        </div>
      </div>
    </div>
</section>









{% endblock body %}