{% extends 'base.html' %}
{% block body %}

<section class="section" id="contact">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="text-center mb-5 my-4">
          <h2 class="highlight header-colorize text-uppercase mb-3">Contact</h2>
          <p class="text-sub size-14">If you have any questions.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="contact-info">
          <h4 class="title mb-4">Get Connected</h4>
          <p class="text-sub size-15 mb-4"><i class="fas fa-phone"></i> 659-888-5495</p>
          <p class="text-sub size-15 mb-4"><i class="fas fa-mobile-alt"></i> +1-689-888-5495</p>
          <p class="text-sub size-15 mb-4"><i class="fas fa-envelope"></i> info@example.com</p>
          <p class="text-sub size-15 mb-4"><i class="fas fa-map-marker-alt"></i> 200 Lexington Ave, New York, NY 10016,
            USA</p>
        </div>
      </div>

      <div class="col-lg-7 offset-lg-1">
        <div class="custom-form mt-4 mt-lg-0">
          <form action="mailto:nishilrally@gmail.com" method="GET">
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="email">Email:</label>
                  <input type="email" class="form-control" id="email" placeholder="Enter Your Email.." />
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="subject">Subject:</label>
                  <input type="text" class="form-control" id="subject" placeholder="Enter Your Subject.." />
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="message">Message:</label>
                  <textarea name="message" id="message" rows="4" class="form-control"
                    placeholder="Enter Your Message.."></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <button href="" class="btn btn-primary"><span class="mr-2 left-icon"><i
                      class="fas fa-envelope"></i></span> Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock body %}