{% extends 'base.html' %}
{% block body %}
<section class="section bg-black" id="about">
  <div class="container" style="position: relative; top: 36px">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="text-center mb-5">
          <h1 class="text-sub mt-5 mt-lg-0">You are at risk for Parkinson's</h1>
          <h1 class="text-sub mt-5 mt-lg-0">Please take a look at the <a href="/resources">Resources</a> page on
            this website.</h1>
        <div>
      </div>
    </div>
  </div>
</section>
{% endblock body %}