{% extends 'base.html' %}
{% block body %}
<section class="section bg-black" id="about">
  <div class="container" style="position: relative; top: 36px">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="text-center mb-5">
          <h1 class="text-sub mt-5 mt-lg-0">You are NOT at risk for Parkinson's!</h1><br>
          <img
            src="https://www.nicepng.com/png/detail/429-4291514_lifestyle-behavior-healthy-person-transparent-background.png"
            style="width: 420px"></img>
        </div>
      </div>
    </div>
  </div>
</section>
          
{% endblock body%}
