{% extends 'base.html' %}
{% block body %}
<section class="header-bg align-items-center position-relative d-flex" id="top">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="header-title">
          <h1 class="font-weight-bold main-title mb-4">Diagnosing Parkinson's Disease using AI</h1>
          <p class="text-sub size-18 ml-2 mb-4 pb-2"><b>Our unique, accurate, and inexpensive product AIParkinScan
              (AIPS) is an important tool in the diagnosis of the oftentimes misdiagnosed Parkinson's disease</b></p>

        </div>
      </div>
      <div class="col-lg-5 offset-lg-1">
        <div class="mt-5 mt-lg-0">
          <img src="https://th.bing.com/th/id/OIP.1VT2cEqhZ7fzYBmff-k-dAHaE8?pid=ImgDet&rs=1" alt=""
            style="width:480px;left:-50px;position:relative;transform:scale(1.19)">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Header End -->
{% endblock body %}