{% extends 'base.html' %}
{% block body %}

<section class="section bg-black" id="about">
  <div class="container" style="position: relative; top: 36px">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="text-center mb-5">
          <p class="text-sub size-18" style="color:black">This page lists some useful resources that provide good
            information about Parkinson’s disease. Each of these websites have a wealth of information, as well as links
            to other websites.
          </p><br>

          <h1 class="title font-weight-medium mb-4"
            style="font-size: 28px; color:black; position: relative; left: -190px; width: 1000px; border: 5px solid rgb(50,210,50); padding: 10px;">
            <a href="https://www.apdaparkinson.org/">American Parkinson Disease Association</a></h1>
          <h2 class="title font-weight-medium mb-4"
            style="position: relative; left: -190px; width: 1000px; border: 5px solid rgb(50,210,50); padding: 10px;"><a
              href="https://www.nia.nih.gov/health/parkinsons-disease">Parkinson’s Disease: Causes, Symptoms, and
              Treatments</a></h2>
          <h2 class="title font-weight-medium mb-4"
            style="position: relative; left: -190px; width: 1000px; border: 5px solid rgb(50,210,50); padding: 10px;"><a
              href="https://www.parkinson.org/">Parkinson’s Foundation</a></h2>
          <h2 class="title font-weight-medium mb-4"
            style="position: relative; left: -190px; width: 1000px; border: 5px solid rgb(50,210,50); padding: 10px;"><a
              href="https://www.ohsu.edu/brain-institute/parkinsons-disease-resources-patients-and-families">Parkinson’s
              Disease: Resources for Patients and Families</a></h2>
          <h2 class="title font-weight-medium mb-4"
            style="position: relative; left: -190px; width: 1000px; border: 5px solid rgb(50,210,50); padding: 10px;"><a
              href="https://www.parkinsons.org.uk/information-and-support/parkinsons-and-mental-health">Parkinson's and
              Mental Health</a></h2>
        </div>
      </div>
    </div>
  </div>
</section>






{% endblock body %}
